# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.vscode

# Local env files
.env
.env.*
!.env.example

# Lock files (pnpm-lock.yaml should be committed)
package-lock.json
yarn.lock
