html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  width: 300px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.frame .piece {
  width: 100%;
  height: 100%;
  background-image: url("https://picsum.photos/300/200");
  background-size: 1500% 1000%;
  transition: transform 1.2752674235s;
}
.frame .piece:nth-of-type(1) {
  background-position: 0% 0%;
  transform: translateX(-232.3783734716%) translateY(353.3842283354%) rotate(0.9404434181turn);
}
.frame .piece:nth-of-type(2) {
  background-position: 7.1428571429% 0%;
  transform: translateX(10.0185514061%) translateY(742.0489876431%) rotate(0.6930149561turn);
}
.frame .piece:nth-of-type(3) {
  background-position: 14.2857142857% 0%;
  transform: translateX(-415.7850501339%) translateY(441.6954128745%) rotate(0.5265723627turn);
}
.frame .piece:nth-of-type(4) {
  background-position: 21.4285714286% 0%;
  transform: translateX(-258.0028357185%) translateY(44.2796879471%) rotate(0.2656675813turn);
}
.frame .piece:nth-of-type(5) {
  background-position: 28.5714285714% 0%;
  transform: translateX(421.8527530748%) translateY(56.3775010576%) rotate(0.3435059722turn);
}
.frame .piece:nth-of-type(6) {
  background-position: 35.7142857143% 0%;
  transform: translateX(-75.2480226103%) translateY(622.5695978389%) rotate(0.5293989425turn);
}
.frame .piece:nth-of-type(7) {
  background-position: 42.8571428571% 0%;
  transform: translateX(271.8087775157%) translateY(93.345967058%) rotate(0.8261205261turn);
}
.frame .piece:nth-of-type(8) {
  background-position: 50% 0%;
  transform: translateX(-110.3064728614%) translateY(518.8413328419%) rotate(0.6223070884turn);
}
.frame .piece:nth-of-type(9) {
  background-position: 57.1428571429% 0%;
  transform: translateX(69.2223790214%) translateY(500.4620306157%) rotate(0.0623641453turn);
}
.frame .piece:nth-of-type(10) {
  background-position: 64.2857142857% 0%;
  transform: translateX(-445.0029734873%) translateY(-194.6693136412%) rotate(0.2753360599turn);
}
.frame .piece:nth-of-type(11) {
  background-position: 71.4285714286% 0%;
  transform: translateX(160.0774322007%) translateY(-81.9681675614%) rotate(0.3729971482turn);
}
.frame .piece:nth-of-type(12) {
  background-position: 78.5714285714% 0%;
  transform: translateX(-91.9416044441%) translateY(693.9329847795%) rotate(0.0513852336turn);
}
.frame .piece:nth-of-type(13) {
  background-position: 85.7142857143% 0%;
  transform: translateX(106.9773265186%) translateY(-164.3868491155%) rotate(0.5135891502turn);
}
.frame .piece:nth-of-type(14) {
  background-position: 92.8571428571% 0%;
  transform: translateX(336.3216483366%) translateY(747.6234626152%) rotate(0.26952391turn);
}
.frame .piece:nth-of-type(15) {
  background-position: 100% 0%;
  transform: translateX(229.7445381307%) translateY(-207.4329014007%) rotate(0.4592890468turn);
}
.frame .piece:nth-of-type(16) {
  background-position: 0% 11.1111111111%;
  transform: translateX(-118.9513504529%) translateY(327.5490316095%) rotate(0.5334508991turn);
}
.frame .piece:nth-of-type(17) {
  background-position: 7.1428571429% 11.1111111111%;
  transform: translateX(366.8409713211%) translateY(-99.2657226797%) rotate(0.5413436228turn);
}
.frame .piece:nth-of-type(18) {
  background-position: 14.2857142857% 11.1111111111%;
  transform: translateX(43.3420518465%) translateY(470.7959205333%) rotate(0.1579908263turn);
}
.frame .piece:nth-of-type(19) {
  background-position: 21.4285714286% 11.1111111111%;
  transform: translateX(-207.8427885521%) translateY(473.3325290638%) rotate(0.3391041333turn);
}
.frame .piece:nth-of-type(20) {
  background-position: 28.5714285714% 11.1111111111%;
  transform: translateX(13.1255664036%) translateY(702.1861010771%) rotate(0.5179178659turn);
}
.frame .piece:nth-of-type(21) {
  background-position: 35.7142857143% 11.1111111111%;
  transform: translateX(321.5721897943%) translateY(598.8717262698%) rotate(0.7960055772turn);
}
.frame .piece:nth-of-type(22) {
  background-position: 42.8571428571% 11.1111111111%;
  transform: translateX(-476.9775842274%) translateY(-189.7690387927%) rotate(0.8450552015turn);
}
.frame .piece:nth-of-type(23) {
  background-position: 50% 11.1111111111%;
  transform: translateX(433.8103565326%) translateY(203.0658931858%) rotate(0.6839034799turn);
}
.frame .piece:nth-of-type(24) {
  background-position: 57.1428571429% 11.1111111111%;
  transform: translateX(-100.1261453318%) translateY(589.7355275603%) rotate(0.8059142227turn);
}
.frame .piece:nth-of-type(25) {
  background-position: 64.2857142857% 11.1111111111%;
  transform: translateX(-121.4961201794%) translateY(44.3447393331%) rotate(0.7249079431turn);
}
.frame .piece:nth-of-type(26) {
  background-position: 71.4285714286% 11.1111111111%;
  transform: translateX(466.514221052%) translateY(726.878295633%) rotate(0.484901481turn);
}
.frame .piece:nth-of-type(27) {
  background-position: 78.5714285714% 11.1111111111%;
  transform: translateX(-382.2810991759%) translateY(-78.0169754533%) rotate(0.7860476948turn);
}
.frame .piece:nth-of-type(28) {
  background-position: 85.7142857143% 11.1111111111%;
  transform: translateX(65.1512135667%) translateY(-67.8840917172%) rotate(0.6025083233turn);
}
.frame .piece:nth-of-type(29) {
  background-position: 92.8571428571% 11.1111111111%;
  transform: translateX(445.4285302992%) translateY(445.3885820803%) rotate(0.1088910531turn);
}
.frame .piece:nth-of-type(30) {
  background-position: 100% 11.1111111111%;
  transform: translateX(-23.1501436877%) translateY(659.3278426851%) rotate(0.7182675773turn);
}
.frame .piece:nth-of-type(31) {
  background-position: 0% 22.2222222222%;
  transform: translateX(-333.574344892%) translateY(639.4671337844%) rotate(0.4977571621turn);
}
.frame .piece:nth-of-type(32) {
  background-position: 7.1428571429% 22.2222222222%;
  transform: translateX(-43.7777094905%) translateY(433.6587924507%) rotate(0.753453625turn);
}
.frame .piece:nth-of-type(33) {
  background-position: 14.2857142857% 22.2222222222%;
  transform: translateX(44.4972341046%) translateY(217.7586133807%) rotate(0.8099318401turn);
}
.frame .piece:nth-of-type(34) {
  background-position: 21.4285714286% 22.2222222222%;
  transform: translateX(-437.3243868545%) translateY(538.0712006445%) rotate(0.4009185727turn);
}
.frame .piece:nth-of-type(35) {
  background-position: 28.5714285714% 22.2222222222%;
  transform: translateX(-404.1985925321%) translateY(105.5851538399%) rotate(0.0308329185turn);
}
.frame .piece:nth-of-type(36) {
  background-position: 35.7142857143% 22.2222222222%;
  transform: translateX(-120.2810878119%) translateY(452.8508345488%) rotate(0.6977886411turn);
}
.frame .piece:nth-of-type(37) {
  background-position: 42.8571428571% 22.2222222222%;
  transform: translateX(-192.5005049567%) translateY(704.5157121103%) rotate(0.741114143turn);
}
.frame .piece:nth-of-type(38) {
  background-position: 50% 22.2222222222%;
  transform: translateX(258.4367831965%) translateY(-80.2602027857%) rotate(0.5248327772turn);
}
.frame .piece:nth-of-type(39) {
  background-position: 57.1428571429% 22.2222222222%;
  transform: translateX(271.3032588939%) translateY(100.6134421353%) rotate(0.5220033047turn);
}
.frame .piece:nth-of-type(40) {
  background-position: 64.2857142857% 22.2222222222%;
  transform: translateX(-53.6739266128%) translateY(463.8983528288%) rotate(0.8413931224turn);
}
.frame .piece:nth-of-type(41) {
  background-position: 71.4285714286% 22.2222222222%;
  transform: translateX(-304.1936358661%) translateY(396.7393122703%) rotate(0.6434563636turn);
}
.frame .piece:nth-of-type(42) {
  background-position: 78.5714285714% 22.2222222222%;
  transform: translateX(373.8844412036%) translateY(676.456462684%) rotate(0.0160701529turn);
}
.frame .piece:nth-of-type(43) {
  background-position: 85.7142857143% 22.2222222222%;
  transform: translateX(-272.3052297393%) translateY(610.2553080606%) rotate(0.5112952462turn);
}
.frame .piece:nth-of-type(44) {
  background-position: 92.8571428571% 22.2222222222%;
  transform: translateX(-52.027757911%) translateY(373.26097417%) rotate(0.302928761turn);
}
.frame .piece:nth-of-type(45) {
  background-position: 100% 22.2222222222%;
  transform: translateX(-402.3830605164%) translateY(-58.1747472568%) rotate(0.7323017803turn);
}
.frame .piece:nth-of-type(46) {
  background-position: 0% 33.3333333333%;
  transform: translateX(119.9699005247%) translateY(363.831132994%) rotate(0.725887857turn);
}
.frame .piece:nth-of-type(47) {
  background-position: 7.1428571429% 33.3333333333%;
  transform: translateX(130.4052816521%) translateY(112.0292952908%) rotate(0.4231386863turn);
}
.frame .piece:nth-of-type(48) {
  background-position: 14.2857142857% 33.3333333333%;
  transform: translateX(3.4517106488%) translateY(276.6248200848%) rotate(0.6491394789turn);
}
.frame .piece:nth-of-type(49) {
  background-position: 21.4285714286% 33.3333333333%;
  transform: translateX(-438.9474445162%) translateY(198.9147316732%) rotate(0.9894737601turn);
}
.frame .piece:nth-of-type(50) {
  background-position: 28.5714285714% 33.3333333333%;
  transform: translateX(-478.0168630179%) translateY(595.2279535898%) rotate(0.0687592981turn);
}
.frame .piece:nth-of-type(51) {
  background-position: 35.7142857143% 33.3333333333%;
  transform: translateX(-169.2852848501%) translateY(587.4969418617%) rotate(0.4733930808turn);
}
.frame .piece:nth-of-type(52) {
  background-position: 42.8571428571% 33.3333333333%;
  transform: translateX(487.6804451896%) translateY(746.3115129453%) rotate(0.2496499104turn);
}
.frame .piece:nth-of-type(53) {
  background-position: 50% 33.3333333333%;
  transform: translateX(-181.1603064691%) translateY(40.9666269697%) rotate(0.5038660295turn);
}
.frame .piece:nth-of-type(54) {
  background-position: 57.1428571429% 33.3333333333%;
  transform: translateX(431.4275431578%) translateY(253.3762135103%) rotate(0.3068134934turn);
}
.frame .piece:nth-of-type(55) {
  background-position: 64.2857142857% 33.3333333333%;
  transform: translateX(-461.6408463211%) translateY(-202.6657863927%) rotate(0.9417473026turn);
}
.frame .piece:nth-of-type(56) {
  background-position: 71.4285714286% 33.3333333333%;
  transform: translateX(-419.2345013354%) translateY(-14.7750561649%) rotate(0.3549396332turn);
}
.frame .piece:nth-of-type(57) {
  background-position: 78.5714285714% 33.3333333333%;
  transform: translateX(-470.523256225%) translateY(17.3382192961%) rotate(0.1189418275turn);
}
.frame .piece:nth-of-type(58) {
  background-position: 85.7142857143% 33.3333333333%;
  transform: translateX(-290.2359899833%) translateY(319.9233554095%) rotate(0.8032056586turn);
}
.frame .piece:nth-of-type(59) {
  background-position: 92.8571428571% 33.3333333333%;
  transform: translateX(-159.0679334693%) translateY(140.9932500536%) rotate(0.5679795305turn);
}
.frame .piece:nth-of-type(60) {
  background-position: 100% 33.3333333333%;
  transform: translateX(249.2616856418%) translateY(111.3326761709%) rotate(0.7234290068turn);
}
.frame .piece:nth-of-type(61) {
  background-position: 0% 44.4444444444%;
  transform: translateX(339.9819494051%) translateY(-94.9448663296%) rotate(0.2472423091turn);
}
.frame .piece:nth-of-type(62) {
  background-position: 7.1428571429% 44.4444444444%;
  transform: translateX(-128.9505097318%) translateY(286.1709158429%) rotate(0.7445698274turn);
}
.frame .piece:nth-of-type(63) {
  background-position: 14.2857142857% 44.4444444444%;
  transform: translateX(203.6224467326%) translateY(700.9085778271%) rotate(0.3337344016turn);
}
.frame .piece:nth-of-type(64) {
  background-position: 21.4285714286% 44.4444444444%;
  transform: translateX(-264.2556881335%) translateY(-129.6254545717%) rotate(0.8914662333turn);
}
.frame .piece:nth-of-type(65) {
  background-position: 28.5714285714% 44.4444444444%;
  transform: translateX(197.8392350397%) translateY(138.3943716155%) rotate(0.9521662155turn);
}
.frame .piece:nth-of-type(66) {
  background-position: 35.7142857143% 44.4444444444%;
  transform: translateX(-365.963712458%) translateY(72.0181870189%) rotate(0.0440408566turn);
}
.frame .piece:nth-of-type(67) {
  background-position: 42.8571428571% 44.4444444444%;
  transform: translateX(-319.3921695409%) translateY(392.6317764948%) rotate(0.8972538035turn);
}
.frame .piece:nth-of-type(68) {
  background-position: 50% 44.4444444444%;
  transform: translateX(-131.6942803598%) translateY(502.7867996501%) rotate(0.6177562479turn);
}
.frame .piece:nth-of-type(69) {
  background-position: 57.1428571429% 44.4444444444%;
  transform: translateX(359.8078806601%) translateY(737.6211736315%) rotate(0.7962331675turn);
}
.frame .piece:nth-of-type(70) {
  background-position: 64.2857142857% 44.4444444444%;
  transform: translateX(154.3910849021%) translateY(490.1571928661%) rotate(0.2304566056turn);
}
.frame .piece:nth-of-type(71) {
  background-position: 71.4285714286% 44.4444444444%;
  transform: translateX(86.1015495876%) translateY(583.3904828644%) rotate(0.8370520571turn);
}
.frame .piece:nth-of-type(72) {
  background-position: 78.5714285714% 44.4444444444%;
  transform: translateX(-316.679059799%) translateY(-64.8092079511%) rotate(0.5975440263turn);
}
.frame .piece:nth-of-type(73) {
  background-position: 85.7142857143% 44.4444444444%;
  transform: translateX(190.4791418802%) translateY(-217.4743986232%) rotate(0.3097975216turn);
}
.frame .piece:nth-of-type(74) {
  background-position: 92.8571428571% 44.4444444444%;
  transform: translateX(-428.7791057743%) translateY(-242.9159173042%) rotate(0.3136962967turn);
}
.frame .piece:nth-of-type(75) {
  background-position: 100% 44.4444444444%;
  transform: translateX(250.3617426058%) translateY(581.7646833639%) rotate(0.148298048turn);
}
.frame .piece:nth-of-type(76) {
  background-position: 0% 55.5555555556%;
  transform: translateX(-457.2358190801%) translateY(39.0351800283%) rotate(0.9331149673turn);
}
.frame .piece:nth-of-type(77) {
  background-position: 7.1428571429% 55.5555555556%;
  transform: translateX(-2.3298499755%) translateY(208.229233232%) rotate(0.6559760188turn);
}
.frame .piece:nth-of-type(78) {
  background-position: 14.2857142857% 55.5555555556%;
  transform: translateX(-495.1873897382%) translateY(46.1419990643%) rotate(0.5108400323turn);
}
.frame .piece:nth-of-type(79) {
  background-position: 21.4285714286% 55.5555555556%;
  transform: translateX(-145.2804554346%) translateY(211.5072125415%) rotate(0.8782789466turn);
}
.frame .piece:nth-of-type(80) {
  background-position: 28.5714285714% 55.5555555556%;
  transform: translateX(497.9255106537%) translateY(457.6960966804%) rotate(0.9698493118turn);
}
.frame .piece:nth-of-type(81) {
  background-position: 35.7142857143% 55.5555555556%;
  transform: translateX(-433.3257845543%) translateY(399.994578742%) rotate(0.0449664281turn);
}
.frame .piece:nth-of-type(82) {
  background-position: 42.8571428571% 55.5555555556%;
  transform: translateX(-115.5724358037%) translateY(1.0359222844%) rotate(0.7386259582turn);
}
.frame .piece:nth-of-type(83) {
  background-position: 50% 55.5555555556%;
  transform: translateX(-438.0816706849%) translateY(-110.0380229576%) rotate(0.8225114339turn);
}
.frame .piece:nth-of-type(84) {
  background-position: 57.1428571429% 55.5555555556%;
  transform: translateX(448.466024299%) translateY(-206.6058956012%) rotate(0.1627309101turn);
}
.frame .piece:nth-of-type(85) {
  background-position: 64.2857142857% 55.5555555556%;
  transform: translateX(443.5832139417%) translateY(-164.8512247326%) rotate(0.1491727542turn);
}
.frame .piece:nth-of-type(86) {
  background-position: 71.4285714286% 55.5555555556%;
  transform: translateX(-297.6707535279%) translateY(432.5845603569%) rotate(0.6123642929turn);
}
.frame .piece:nth-of-type(87) {
  background-position: 78.5714285714% 55.5555555556%;
  transform: translateX(-464.9896545986%) translateY(736.9982890598%) rotate(0.123062482turn);
}
.frame .piece:nth-of-type(88) {
  background-position: 85.7142857143% 55.5555555556%;
  transform: translateX(-428.2171557053%) translateY(103.0280230665%) rotate(0.2173216937turn);
}
.frame .piece:nth-of-type(89) {
  background-position: 92.8571428571% 55.5555555556%;
  transform: translateX(425.7464379307%) translateY(-72.2239045268%) rotate(0.257593334turn);
}
.frame .piece:nth-of-type(90) {
  background-position: 100% 55.5555555556%;
  transform: translateX(88.9088088591%) translateY(-182.0024709598%) rotate(0.7787869279turn);
}
.frame .piece:nth-of-type(91) {
  background-position: 0% 66.6666666667%;
  transform: translateX(-158.5674378851%) translateY(636.1844124348%) rotate(0.85388606turn);
}
.frame .piece:nth-of-type(92) {
  background-position: 7.1428571429% 66.6666666667%;
  transform: translateX(267.9434368481%) translateY(378.1363710352%) rotate(0.217393795turn);
}
.frame .piece:nth-of-type(93) {
  background-position: 14.2857142857% 66.6666666667%;
  transform: translateX(-478.9033497024%) translateY(306.8610188064%) rotate(0.6260221208turn);
}
.frame .piece:nth-of-type(94) {
  background-position: 21.4285714286% 66.6666666667%;
  transform: translateX(-499.2887114844%) translateY(-226.6045950018%) rotate(0.1035586741turn);
}
.frame .piece:nth-of-type(95) {
  background-position: 28.5714285714% 66.6666666667%;
  transform: translateX(487.1942588933%) translateY(259.3511077029%) rotate(0.7054230917turn);
}
.frame .piece:nth-of-type(96) {
  background-position: 35.7142857143% 66.6666666667%;
  transform: translateX(-234.4906161689%) translateY(569.3721074942%) rotate(0.8390120589turn);
}
.frame .piece:nth-of-type(97) {
  background-position: 42.8571428571% 66.6666666667%;
  transform: translateX(-280.627663311%) translateY(108.1102528619%) rotate(0.1496972612turn);
}
.frame .piece:nth-of-type(98) {
  background-position: 50% 66.6666666667%;
  transform: translateX(-318.5589671437%) translateY(-124.7758776821%) rotate(0.1553044514turn);
}
.frame .piece:nth-of-type(99) {
  background-position: 57.1428571429% 66.6666666667%;
  transform: translateX(-226.9595953035%) translateY(-26.24236817%) rotate(0.7247067416turn);
}
.frame .piece:nth-of-type(100) {
  background-position: 64.2857142857% 66.6666666667%;
  transform: translateX(449.3182298025%) translateY(-38.7326012399%) rotate(0.4405325306turn);
}
.frame .piece:nth-of-type(101) {
  background-position: 71.4285714286% 66.6666666667%;
  transform: translateX(-184.8126232334%) translateY(608.0751286033%) rotate(0.3790107864turn);
}
.frame .piece:nth-of-type(102) {
  background-position: 78.5714285714% 66.6666666667%;
  transform: translateX(-323.3794269531%) translateY(232.9163363573%) rotate(0.5387108175turn);
}
.frame .piece:nth-of-type(103) {
  background-position: 85.7142857143% 66.6666666667%;
  transform: translateX(-206.3372300366%) translateY(249.0253353556%) rotate(0.6059345826turn);
}
.frame .piece:nth-of-type(104) {
  background-position: 92.8571428571% 66.6666666667%;
  transform: translateX(296.1524157309%) translateY(14.223398165%) rotate(0.7364231595turn);
}
.frame .piece:nth-of-type(105) {
  background-position: 100% 66.6666666667%;
  transform: translateX(449.7082018928%) translateY(-45.5473453823%) rotate(0.8323174801turn);
}
.frame .piece:nth-of-type(106) {
  background-position: 0% 77.7777777778%;
  transform: translateX(-411.5375525108%) translateY(476.802103866%) rotate(0.3717386664turn);
}
.frame .piece:nth-of-type(107) {
  background-position: 7.1428571429% 77.7777777778%;
  transform: translateX(406.89971506%) translateY(579.5771469419%) rotate(0.1571022366turn);
}
.frame .piece:nth-of-type(108) {
  background-position: 14.2857142857% 77.7777777778%;
  transform: translateX(-307.8711759492%) translateY(635.7146402968%) rotate(0.1341358357turn);
}
.frame .piece:nth-of-type(109) {
  background-position: 21.4285714286% 77.7777777778%;
  transform: translateX(293.4025075148%) translateY(728.7010147107%) rotate(0.5779592555turn);
}
.frame .piece:nth-of-type(110) {
  background-position: 28.5714285714% 77.7777777778%;
  transform: translateX(46.2629910639%) translateY(-160.4214054822%) rotate(0.8912625503turn);
}
.frame .piece:nth-of-type(111) {
  background-position: 35.7142857143% 77.7777777778%;
  transform: translateX(176.8368426143%) translateY(413.3972256159%) rotate(0.1389587107turn);
}
.frame .piece:nth-of-type(112) {
  background-position: 42.8571428571% 77.7777777778%;
  transform: translateX(308.0793164576%) translateY(639.4011645433%) rotate(0.3513466662turn);
}
.frame .piece:nth-of-type(113) {
  background-position: 50% 77.7777777778%;
  transform: translateX(-213.6272195908%) translateY(-114.7936401911%) rotate(0.8431014698turn);
}
.frame .piece:nth-of-type(114) {
  background-position: 57.1428571429% 77.7777777778%;
  transform: translateX(44.1003485087%) translateY(568.2662301271%) rotate(0.18445533turn);
}
.frame .piece:nth-of-type(115) {
  background-position: 64.2857142857% 77.7777777778%;
  transform: translateX(250.4202193257%) translateY(-22.4376041278%) rotate(0.5908846171turn);
}
.frame .piece:nth-of-type(116) {
  background-position: 71.4285714286% 77.7777777778%;
  transform: translateX(-219.1112975395%) translateY(142.3378173703%) rotate(0.4301721219turn);
}
.frame .piece:nth-of-type(117) {
  background-position: 78.5714285714% 77.7777777778%;
  transform: translateX(-373.4849049855%) translateY(-130.590324675%) rotate(0.0193183692turn);
}
.frame .piece:nth-of-type(118) {
  background-position: 85.7142857143% 77.7777777778%;
  transform: translateX(294.8470345401%) translateY(105.9053685251%) rotate(0.1645060454turn);
}
.frame .piece:nth-of-type(119) {
  background-position: 92.8571428571% 77.7777777778%;
  transform: translateX(179.0228256574%) translateY(222.646287221%) rotate(0.2578294981turn);
}
.frame .piece:nth-of-type(120) {
  background-position: 100% 77.7777777778%;
  transform: translateX(-101.0400807137%) translateY(736.6329474946%) rotate(0.0380675285turn);
}
.frame .piece:nth-of-type(121) {
  background-position: 0% 88.8888888889%;
  transform: translateX(-65.1777809576%) translateY(673.7862185156%) rotate(0.3406616245turn);
}
.frame .piece:nth-of-type(122) {
  background-position: 7.1428571429% 88.8888888889%;
  transform: translateX(225.055765087%) translateY(473.7998330347%) rotate(0.5094501389turn);
}
.frame .piece:nth-of-type(123) {
  background-position: 14.2857142857% 88.8888888889%;
  transform: translateX(-232.1974333029%) translateY(-79.4055714036%) rotate(0.5824079487turn);
}
.frame .piece:nth-of-type(124) {
  background-position: 21.4285714286% 88.8888888889%;
  transform: translateX(-302.576935606%) translateY(536.1638197283%) rotate(0.8749646117turn);
}
.frame .piece:nth-of-type(125) {
  background-position: 28.5714285714% 88.8888888889%;
  transform: translateX(-276.6576586159%) translateY(738.8123693899%) rotate(0.5978155569turn);
}
.frame .piece:nth-of-type(126) {
  background-position: 35.7142857143% 88.8888888889%;
  transform: translateX(126.1340119492%) translateY(-96.8307044856%) rotate(0.6884067316turn);
}
.frame .piece:nth-of-type(127) {
  background-position: 42.8571428571% 88.8888888889%;
  transform: translateX(-119.2239049814%) translateY(649.5180553211%) rotate(0.3717884831turn);
}
.frame .piece:nth-of-type(128) {
  background-position: 50% 88.8888888889%;
  transform: translateX(-242.8563935787%) translateY(327.4245284125%) rotate(0.527379314turn);
}
.frame .piece:nth-of-type(129) {
  background-position: 57.1428571429% 88.8888888889%;
  transform: translateX(-283.756074222%) translateY(569.572901493%) rotate(0.2611255219turn);
}
.frame .piece:nth-of-type(130) {
  background-position: 64.2857142857% 88.8888888889%;
  transform: translateX(254.5386246618%) translateY(292.3088998971%) rotate(0.1072314161turn);
}
.frame .piece:nth-of-type(131) {
  background-position: 71.4285714286% 88.8888888889%;
  transform: translateX(440.7129187906%) translateY(540.4341971744%) rotate(0.39653556turn);
}
.frame .piece:nth-of-type(132) {
  background-position: 78.5714285714% 88.8888888889%;
  transform: translateX(234.9013760972%) translateY(-183.6892749086%) rotate(0.2527464537turn);
}
.frame .piece:nth-of-type(133) {
  background-position: 85.7142857143% 88.8888888889%;
  transform: translateX(-138.4666101197%) translateY(696.7745756533%) rotate(0.4646504932turn);
}
.frame .piece:nth-of-type(134) {
  background-position: 92.8571428571% 88.8888888889%;
  transform: translateX(88.620432304%) translateY(519.011298%) rotate(0.5250854288turn);
}
.frame .piece:nth-of-type(135) {
  background-position: 100% 88.8888888889%;
  transform: translateX(60.0719328973%) translateY(245.60699389%) rotate(0.4769061262turn);
}
.frame .piece:nth-of-type(136) {
  background-position: 0% 100%;
  transform: translateX(-455.5891595347%) translateY(142.7151512257%) rotate(0.2065697141turn);
}
.frame .piece:nth-of-type(137) {
  background-position: 7.1428571429% 100%;
  transform: translateX(275.0274835431%) translateY(6.832924475%) rotate(0.6001733683turn);
}
.frame .piece:nth-of-type(138) {
  background-position: 14.2857142857% 100%;
  transform: translateX(-222.9686407054%) translateY(747.0761172985%) rotate(0.4332110692turn);
}
.frame .piece:nth-of-type(139) {
  background-position: 21.4285714286% 100%;
  transform: translateX(117.9808828898%) translateY(-208.7983693707%) rotate(0.9674280151turn);
}
.frame .piece:nth-of-type(140) {
  background-position: 28.5714285714% 100%;
  transform: translateX(-432.2827116955%) translateY(59.3217104632%) rotate(0.879636496turn);
}
.frame .piece:nth-of-type(141) {
  background-position: 35.7142857143% 100%;
  transform: translateX(32.2344854441%) translateY(-179.7602325735%) rotate(0.4113504817turn);
}
.frame .piece:nth-of-type(142) {
  background-position: 42.8571428571% 100%;
  transform: translateX(-298.8910369064%) translateY(-232.7122969295%) rotate(0.7334064901turn);
}
.frame .piece:nth-of-type(143) {
  background-position: 50% 100%;
  transform: translateX(-183.599150288%) translateY(621.5545491004%) rotate(0.3603397402turn);
}
.frame .piece:nth-of-type(144) {
  background-position: 57.1428571429% 100%;
  transform: translateX(-39.7510649181%) translateY(33.9975913635%) rotate(0.6632494427turn);
}
.frame .piece:nth-of-type(145) {
  background-position: 64.2857142857% 100%;
  transform: translateX(409.1806746405%) translateY(650.0476875944%) rotate(0.970413919turn);
}
.frame .piece:nth-of-type(146) {
  background-position: 71.4285714286% 100%;
  transform: translateX(-211.5773587877%) translateY(-141.392658268%) rotate(0.3566215082turn);
}
.frame .piece:nth-of-type(147) {
  background-position: 78.5714285714% 100%;
  transform: translateX(465.2536942107%) translateY(-121.6697218551%) rotate(0.8589164075turn);
}
.frame .piece:nth-of-type(148) {
  background-position: 85.7142857143% 100%;
  transform: translateX(84.4629859032%) translateY(-114.5897588864%) rotate(0.6522685372turn);
}
.frame .piece:nth-of-type(149) {
  background-position: 92.8571428571% 100%;
  transform: translateX(393.9959090908%) translateY(719.2495259973%) rotate(0.342550432turn);
}
.frame .piece:nth-of-type(150) {
  background-position: 100% 100%;
  transform: translateX(-118.9575010275%) translateY(414.5712258691%) rotate(0.6732333191turn);
}
.frame:hover .piece {
  transform: translate(0, 0) rotate(0);
}

/*# sourceMappingURL=/style.97fcb138.css.map */